<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="plantaoSti">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/detalhesPlantaoCtrl.js"></script>
    <script src="js/controllers/detalhesFarmaciaCtrl.js"></script>
    <script src="js/services/farmaciasAPIService.js"></script>
    <script src="js/services/plantoesAPIService.js"></script>
    <script src="js/config/route.Config.js"></script>
    <title>Plantao Sti 7.0</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
      iframe {
        width: 340px;
        height: 600px;
        border: 0;
        overflow: hidden;
      }
    </style>
  </head>

  <body ng-controller="plantaoStiCtrl">

	<div ng-view>

	</div>
	<div ng-include="'view/footer.html'"></div>
    <ul class="farmacias-card">
      <li ng-repeat="farmacia in farmacias">
        <a href="farmacia/{{farmacia.id}}">
          <img
            src="http://app.lopscorp.com/{{farmacia.urllogo}}"
            width="150"
            height="100"
            alt="Farmacia {{farmacia.name}} - Telefone {{farmacia.phone}}"
          />
          <ul>
            <li><span></span>{{farmacia.name}}</li>
            <li><span></span>{{farmacia.phone}}</li>
            <li><span></span>{{farmacia.neighborhood}}</li>
          </ul>
        </a>
      </li>
    </ul>

    <ul class="plantoes-card">
      <li ng-repeat="plantao in plantoes">
        <a href="plantao/{{plantao.id}}">
          <img
            src="http://app.lopscorp.com/{{plantao.urllogo}}"
            width="150"
            height="100"
            alt="Farmacia {{plantao.name}} - Telefone {{farmacia.phone}}"
          />
          <ul>
            <li><span></span>{{plantao.name}}</li>
            <li><span></span>Inicio: {{plantao.datetimestart}}</li>
            <li><span></span>Fim: {{plantao.datetimeend}}</li>
          </ul>
        </a>
      </li>
    <ul class="plantao-card">
      <li ng-repeat="plantao in plantoes">
        <a href="plantao/{{plantao.id}}">
          <img
            src="http://app.lopscorp.com/{{plantao.urllogo}}"
            width="150"
            height="100"
            alt="Farmacia {{plantao.name}} - Telefone {{farmacia.phone}}"
          />
          <ul>
            <li><span></span>{{plantao.name}}</li>
            <li><span></span>Inicio: {{plantao.datetimestart}}</li>
            <li><span></span>Fim: {{plantao.datetimeend}}</li>
          </ul>
        </a>
      </li>
    </ul>
  </body>
</html>
