<h2>Plantão</h2>
<hr />
<div class="container-item">
  <section>
    <article class="item">
      <img src="http://app.lopscorp.com/{{plantao.urllogo}}" alt="" srcset="">
      <div class="detalhes">
        <h3>{{plantao.name}}</h3>
        <p>
          {{plantao.street}} <br />
          {{plantao.phone}}<br />
        </p>
        <div class="bloco">
          <span>Plantão</span>
          Inicio: {{plantao.datetimestart}} | Fim: {{plantao.datetimeend}}
          <a href="#">Veja no mapa</a>
        </div>
      </div>
    </article>
  </section>
</div>